doctype html
html
  head
    meta(charset='utf-8')
    title eCommerce
    link(rel='stylesheet', href='/css/style.css')
  body
    h2 Inventory List
    nav
        a(href='/') Home
        a(href='/about') About
        a(href='/faq') FAQ
        a(href='/items/new') New Item
        a(href='/items') Inventory

    each item in items
      ul 
        li= item.name
        li= item.dimensions.length
        li= item.dimensions.width
        li= item.dimensions.height
        li= item.weight
        li= item.color
        li= item.quantity
        li= item.msrp
        li= item.cost()
        li= item.percentOff

