extends ../shared/template

block content
  h2= item.name

  #item(style='background-color:#{item.color};')
    #nuke
      form(method='post', action='/items/#{item._id}')
        input(type='hidden', name='_method', value='delete')
        button Delete #{item.name}
    #dimensions
      span l #{item.dimensions.length}in/
      span w #{item.dimensions.width}in/
      span h #{item.dimensions.height}in
    #weight #{item.weight}lbs
    #quantity= item.quantity
    #msrp $#{item.msrp.toFixed(2)}
    #sale #{item.percentOff}%
    #cost $#{item.cost().toFixed(2)}
